<div class="border border-black dark:border-white/35 rounded-xs bg-white dark:bg-dark-gray p-6 text-left flex flex-col break-inside-avoid">
  <p><%= yield %></p>
  <div class="mt-4 font-medium"><%= name %></div>
</div>
